{% for categorie in categories %}
    {% if categorie.getSousCategories()|length == 0 %}
        {% if categorie.getCategory()|length == 0 %}
            <div class="dropdown liste enligne">
                <a class="lien-header" href="{{ path('produits_par_categorie', {'categorie': categorie.nom }) }}">
                    {{ categorie.nom }}
                </a>
            </div>
        {% else %}
            <div class="dropdown liste enligne">
                <a class="lien-header dropdown-toggle lien-liste" href="{{ path('produits_par_categorie', {'categorie': categorie.nom }) }}" id="navbarDropdownMenuLink_{{ categorie.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ categorie.nom }}
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink_{{ categorie.id }}">
                    {% for sous_categorie in categorie.getCategory() %}
                        <a class="dropdown-item sous-liste-normale" href="{{ path('produits_par_categorie', {'categorie': categorie.nom, 'sous_categorie': sous_categorie.getNom() }) }}">{{ sous_categorie.getNom() }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}