<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta name="description" content="Divers produits pour la maison : accessoires , décorations et pleins d'autres choses.">
	    <meta name="keywords" content="marcheduweb, Marcheduweb, MarcheDuweb, MarcheDuWeb">
	    <meta name="author" content="Dev & Kod">
	    <meta name="og:title" property="og:title" content="Marché du web, divers produits pour la maison">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="robots" content= "index,follow">

        <title>{% block title %}Marché du Web{% endblock %}</title>
        {% block stylesheets %}
        {# Lien CDN Bootstrap #}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        {# Lien Font Awesome #}
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        {# image favicon #}
            <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon/logo_32x32.png') }}">
        {# Lien vers notre feuille de style globale #}
            <link rel="stylesheet" href="{{ asset('css/base.style.css') }}">
        {% endblock %}
    </head>

    <body>
        {% block header %}
            <div class="container-fluid">
                <div class="row" id="header-main-row">
                    <div class="col-1" id='icone-recherche'><i class="fas fa-search"></i></div>
                    <div class="col-6" id='icone-site'>
                        <div id="bloc-logo">
                            <a  href="{{ path('accueil') }}">
                                <img src="{{ asset('images/icone/icone.png') }}">
                            </a>
                            <a href="{{ path('accueil') }}">Marché du Web</a>
                        </div>
                    </div>
                    <div class="col-4" id='menu-header'>
                        <span class="element-menu">Accueil</span>
                        <span class="element-menu">Connexion</span>
                    </div>
                    <div class="col-1" id='icone-panier'>
                        <i class="fas fa-shopping-cart"></i>
                        <span class="badge badge-light" id="compteur-panier">0</span>
                    </div>
                </div>
            </div>

            {# <div>
                {% for categorie in categories %}
                    {{ categorie.nom }}
                {% endfor %}
            </div> #}
        {% endblock %}

        {% block body %}
        template base
        {% endblock %}

        {% block javascripts %}
        {# Lien CDN JQuery #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {# Liens CDN Bootstrap #}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
        {# Lien vers script de la page #}
            <script src="{{ asset('js/base.script.js') }}"></script>
        {% endblock %}
    </body>
</html>
